{% extends 'base.html.twig' %}

{% block title %} William Tchang | Portfolio {% endblock %}

{% block body %}
    <div class="layout-maxed home">
        <div class="presentation mb-70">
            <h1 class="page-title-white mb-30 fade-in-1">William TCHANG<br> Web Developer</h1>
            <p class="page-description fade-in-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, animi! Eius, est excepturi quod obcaecati quisquam, ducimus harum aspernatur sunt dicta beatae, mollitia voluptatibus quia saepe a dolor similique doloremque.</p>
            <a href="{{path('app_contact')}}" class="btn-contact fade-in-3 mt-40 mb-70"><div class="in">Contact Me <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></div></a>
            <div class="grid grid-cols-2 gap-20">
                <div class="card-branding-project fade-in-4">
                    <img src="{{ asset('image/featt.png') }}" alt="Feat website home page">
                    <div class="content flex justify-between align-items-center">
                        <h3 class="title-card">Featt</h3>
                        <a href="" class="btn-more">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                        </a>
                    </div>
                </div>
                <div class="card-branding-project fade-in-6">
                    <img src="{{ asset('image/symfo-stream.png') }}" alt="Symfo-stream website home page">
                    <div class="content flex justify-between align-items-center">
                        <h3 class="title-card">Symfo-Stream</h3>
                        <a class="btn-more" href="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-me grid grid-cols-2 gap-20 mb-70">
            <div class="flex flex-col justify-between">
                <h2 data-aos="fade-up" class="title-section">ABOUT ME</h2>
                <img data-aos="fade-up" src="{{ asset('image/me.jpg') }}" alt="" class="avatar fade-in-scroll">
            </div>
            <h3 data-aos="fade-up" class="fade-in-scroll">
                Hi I’m William and I am passionate about everything that has to do with App Developpement and Web. I enjoy working with agencies and enthusiastic people who want to solve problems through beautiful designs and experiences.
            </h3>
        </div>

        <div class="projects">
            <div class="top">
                <h3 data-aos="fade-up" class="title-section-white">WHAT I'M DOING</h3>
                <h2 data-aos="fade-up">SOFTWARE DEVELOPER</h2>
                <h2 data-aos="fade-up">UI/UX DESIGN</h2>
                <h2 data-aos="fade-up">DEVELOPMENT</h2>
            </div>
            <div class="swiper-projects mt-30">
                <div class="flex justify-between">
                    <h3 data-aos="fade-up" class="title-section-white m-0">SELECTED PROJECT</h3>
                    <div data-aos="fade-up" class="next-prev">
                        <div class="swiper-button-prev">
                        </div>
                        <div class="swiper-button-next">
                        </div>
                    </div>
                </div>
                <div class="swiper-wrapper">
                    <div data-aos="fade-up" class="swiper-slide">
                        <div class="card-project">
                            <img src="{{ asset('image/symfo-stream.png') }}" alt="">
                            <div class="content">
                                <h3 class="title-section-white">01/04</h3>
                                <div class="bottom">
                                    <div class="content-text">
                                        <div class="flex flex-col">
                                            <h3 class="title-section-white">PROJECT</h3>
                                            <h3 class="item">Symfo-Strem</h3>
                                            <h3 class="item">Search/Discover</h3>
                                            <h3 class="item">Films & Series</h3>
                                        </div>
                                        <div class="flex flex-col">
                                            <h3 class="title-section-white">TYPE</h3>
                                            <h3 class="item">Student Project</h3>
                                            <h3 class="item">Web Developpement</h3>
                                            <h3 class="item">Web Site</h3>
                                        </div>
                                    </div>
                                    <a href="" class="btn-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up" class="swiper-slide">
                        <div class="card-project">
                            <img src="{{ asset('image/symfo-stream.png') }}" alt="">
                            <div class="content">
                                <h3 class="title-section-white">01/04</h3>
                                <div class="bottom">
                                    <div class="content-text">
                                        <div class="flex flex-col">
                                            <h3 class="title-section-white">PROJECT</h3>
                                            <h3 class="item">Symfo-Strem</h3>
                                            <h3 class="item">Search/Discover</h3>
                                            <h3 class="item">Films & Series</h3>
                                        </div>
                                        <div class="flex flex-col">
                                            <h3 class="title-section-white">TYPE</h3>
                                            <h3 class="item">Student Project</h3>
                                            <h3 class="item">Web Developpement</h3>
                                            <h3 class="item">Web Site</h3>
                                        </div>
                                    </div>
                                    <a href="" class="btn-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up" class="swiper-slide">
                        <div class="card-project">
                            <img src="{{ asset('image/symfo-stream.png') }}" alt="">
                            <div class="content">
                                <h3 class="title-section-white">01/04</h3>
                                <div class="bottom">
                                    <div class="content-text">
                                        <div class="flex flex-col">
                                            <h3 class="title-section-white">PROJECT</h3>
                                            <h3 class="item">Symfo-Strem</h3>
                                            <h3 class="item">Search/Discover</h3>
                                            <h3 class="item">Films & Series</h3>
                                        </div>
                                        <div class="flex flex-col">
                                            <h3 class="title-section-white">TYPE</h3>
                                            <h3 class="item">Student Project</h3>
                                            <h3 class="item">Web Developpement</h3>
                                            <h3 class="item">Web Site</h3>
                                        </div>
                                    </div>
                                    <a href="" class="btn-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
{% endblock %}
