{% macro nav_item(route_name, label) %}
    <li class="item {{ app.request.attributes.get('_route') == route_name ? 'active' : '' }}">
        <a class="link" href="{{ path(route_name) }}">{{ label }}</a>
    </li>
{% endmacro %}

{# Puis dans votre template #}
{% import _self as macros %}

<header>
    <ul class="nav-items hidden">
        {{ macros.nav_item('app_home', 'Home') }}
        {{ macros.nav_item('app_about', 'About') }}
        {{ macros.nav_item('app_work', 'Work') }}
        {{ macros.nav_item('app_contact', 'Contact') }}
    </ul>
    <h2>Tchang</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu size-5"><line x1="4" x2="20" y1="12" y2="12"></line><line x1="4" x2="20" y1="6" y2="6"></line><line x1="4" x2="20" y1="18" y2="18"></line></svg>
</header>
