<div class="project">
    <div class="img">
        <img src="{{ asset(project.image) }}" alt="">
    </div>
    <div class="contenu">
        <h1>{{project.title}}</h1>
        <p>{{project.extract}}</p>
        <a href="{{ project.link }}">En savoir plus</a>
        <ul>
            {% for skill in project.skills %}
                <li>{{skill}}</li>
            {% endfor %}
        </ul>
    </div>
</div>