{% extends 'base_admin.html.twig' %}

{% block title %}Edit Project {{ project.title }} {% endblock %}

{% block body %}
    <div class="layout-maxed project-page">
        <div class="bg-dark px-20 py-30 mb-70 all-projects">
            <h1>Edit Project : {{project.title}}</h1>

            {{ include('project/_form.html.twig', {'button_label': 'UPADATE'}) }}

            <a class="btn-back" href="{{ path('app_project_index') }}">BACK TO LIST</a>

            {{ include('project/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
