{% extends 'base_admin.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <div class="layout-maxed project-page">
        <div class="bg-dark px-20 py-30 mb-70 all-projects">
            <h1>Project index</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.id }}</td>
                        <td>{{ project.title }}</td>
                        <td class="actions">
                            <a href="{{ path('app_project_show', {'id': project.id}) }}">Show</a>
                            <a href="{{ path('app_project_edit', {'id': project.id}) }}">Edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="btn-new" href="{{ path('app_project_new') }}">Create new</a>
        </div>
    </div>
{% endblock %}
